<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <appSettings>
    <add key="trusted" value="true"/>
    <add key="CommandTimeoutExecuteBD" value="600"/>
    <add key="K" value="*ics.cl.development*2012*"/>
    <add key="MinutesSession" value="60"/>
    <add key="TiempoSesionUsr" value="20"/>
    <add key="StriConnAux" value="Persist Security Info=False;Data Source=179.61.13.147\\MSSQLSERVER2016,1433;Initial Catalog=myresidu_REM;User ID=myresidu_Macronline;Password=Macronline123$;"/>
    <!--aaa<add key="StriConnAux" value="Data Source=.\SQLEXPRESS;Initial Catalog=REM6;Integrated Security=SSPI;MultipleActiveResultSets=true;"/>-->

    
    <add key="Port" value="13000"/>
    <add key="LocalAddr" value="127.0.0.1"/>
    
  </appSettings>
</configuration>